---
import { Image } from "astro:assets";

import bagImage from "../assets/Malaphortune-Bag-Mockup-Iso.png";
import background from "../assets/bg-white.png";
---

<section class="bag">
	<div class="wrapper">
		<div class="bag-text">
			<h3>
				“AFTER JUST TWO WEEKS ON TURBO HEART, I FEEL NOTICEABLY MORE ENERGIZED—WITHOUT THE JITTERY SIDE EFFECTS OF CAFFEINE. KNOWING IT’S SUPPORTING MY HEART AT A CELLULAR LEVEL? THAT’S PEACE OF MIND IN A CAPSULE.”
			</h3>
			<h3 class="small-text">DARREN T., 42, CYCLIST & FATHER OF THREE</h3>
		</div>
	</div>
</section>

<style lang="scss">
	.bag {
		color: white;
		background: #C11D1F;
		padding: 3rem 0 2rem;
		overflow: hidden;
		position: relative;
		.wrapper {
			text-align: center;
			background: #C11D1F;
			display: flex;
			gap: 0 2rem;
			flex-wrap: wrap;
			position: relative;
			max-width: 1200px;
			margin: auto;
			h3 {
				font-size: 24px;
			}
			.small-text {
				font-size: 19px;
			}
		}
		&-text {
			flex: 1 1 520px;
			margin-top: 4rem;
			margin-bottom: 3rem;
		}
	}
</style>
